<div class="popup popup--sizes">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6 6L18 18"
          stroke="#0F0F0F"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M18 6L6 18"
          stroke="#0F0F0F"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <div class="popup__wrapper">
      <div class="popup__title">Выбрать размер</div>

      <div class="choose-size">
        <p class="choose-size__text">
          Чтобы выбрать нужныйподходящий размер, рекомендуем сравнить указанные
          параметры.
        </p>

        <div class="choose-size__table">
          <div class="choose-size__row">
            <div class="choose-size__left">Размер</div>
            <div class="choose-size__right">Длина стопы, см</div>
          </div>
          <div class="choose-size__row">
            <div class="choose-size__left">36</div>
            <div class="choose-size__right">23,5</div>
          </div>
          <div class="choose-size__row">
            <div class="choose-size__left">37</div>
            <div class="choose-size__right">24</div>
          </div>
          <div class="choose-size__row">
            <div class="choose-size__left">3836</div>
            <div class="choose-size__right">24,5</div>
          </div>
          <div class="choose-size__row">
            <div class="choose-size__left">39</div>
            <div class="choose-size__right">25</div>
          </div>
          <div class="choose-size__row">
            <div class="choose-size__left">40</div>
            <div class="choose-size__right">26,5</div>
          </div>
          <div class="choose-size__row">
            <div class="choose-size__left">41</div>
            <div class="choose-size__right">26,5</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup popup--subscribe">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6 6L18 18"
          stroke="#0F0F0F"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M18 6L6 18"
          stroke="#0F0F0F"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <div class="popup__wrapper">
      <div class="popup__left">
        <div class="popup__title">
          Подпишитесь на <br />
          Notonlyblack
        </div>

        <p class="popup__text">Узнавайте о новинках и выгодных предложениях</p>

        <form class="popup__form form-subscribe">
          <div class="form-subscribe__checkboxes">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__box"></span>
              <span class="checkbox__text"> Для женщин </span>
            </label>
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__box"></span>
              <span class="checkbox__text"> Для мужчин </span>
            </label>
          </div>
          <label class="form-subscribe__group">
            <input
              class="form-subscribe__input"
              type="text"
              placeholder="Имя *"
            />
          </label>
          <label class="form-subscribe__group">
            <input
              class="form-subscribe__input"
              type="text"
              placeholder="E-mail *"
            />
          </label>

          <div class="form-subscribe__policy">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" />
              <span class="checkbox__box"></span>
              <span class="checkbox__text">
                Принимаю политику конфидениальности
              </span>
            </label>
          </div>

          <button class="form-subscribe__btn btn" type="submit">
            ПОДПИСАТЬСЯ
          </button>
        </form>
      </div>
      <div
        class="popup__right"
        style="background-image: url('images/popup-subscribe.jpg')"
      ></div>
    </div>
  </div>
</div>
