body {
  font-family: $TTCommons;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  color: var(--color-text);
  position: relative;
  overflow-x: hidden;

  @include breakpointsMaxW($bp-768) {
    font-size: 15px;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: $bp-container;
  padding: 0px 15px;
  margin: 0 auto;

  &--fluid {
    max-width: 1950px;
    padding: 0px 60px;

    @include breakpointsMaxW($bp-container) {
      padding: 0 15px;
    }
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main {
  &.mt {
    margin-top: 230px;

    @include breakpointsMaxW($bp-991) {
      margin-top: 75px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(5px);
  transition: 200ms ease-in;

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 550ms ease;
  }
}

.logo {
  display: block;
  @include adaptive-value('width', 120, 80, 1);
  @include adaptive-value('height', 60, 40, 1);

  img {
    @include img(contain);
  }
}

// * Кнопки
.btn {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  background-color: var(--color-dark);
  padding: 12px 30px;
  color: var(--color-white);
  transition: 300ms ease, transform 0s;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--color-dark);

  &:hover {
    background-color: transparent;
    color: var(--color-dark);
  }

  &:active {
    transform: scale(0.98);
  }

  &--light {
    background-color: rgba(239, 239, 239, 0.99);
    color: var(--color-dark);
    border-color: transparent;

    &:hover {
      background-color: var(--color-dark);
      color: var(--color-white);
    }
  }
}

// * Карта
.map {
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.brand {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
  @include adaptive-value('height', 94, 64, 1);
  @include adaptive-value('width', 94, 64, 1);

  img {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }
}

.select {
  width: 100%;
}

.side {
  width: 100%;

  .checkbox {
    align-items: center;

    &__box {
      width: 17px;
      height: 17px;
    }

    &__text {
      font-size: 15px;
    }
  }

  &__box {
    padding: 10px 20px;
  }

  &__news {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-white);
  }

  &__control {
    display: block;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    padding: 10px 0;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #53595c;

    &.accordion__control {
      &::after {
        right: 0;
        width: 10px;
        height: 10px;
      }
    }
  }

  &__list {
    max-height: 250px;
    overflow-y: auto;

    &--sizes {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 90%;
      font-size: 12px;

      .checkbox {
        &__text {
          font-size: 12px;
        }
      }
    }

    .simplebar-scrollbar {
      background-color: #a5a5a5;
    }

    .simplebar-scrollbar {
      width: 5px;
    }
  }

  &__item {
    position: relative;
    padding: 7px 0;
  }

  &__link {
    display: block;
    font-size: 16px;
    color: #80898d;
    position: relative;
    padding-right: 20px;
    transition: 150ms ease;

    &:hover {
      color: var(--color-accent);
    }
  }

  &__reset {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    color: #b4b4b3;
    border-bottom: 1px solid #b4b4b3;
  }
}

.range-slider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0;
  color: #25282f;
  font-size: 0.875em;
  margin-bottom: 5px;
  padding: 10px;
  padding-bottom: 0;
  max-width: 215px;
  width: 100%;

  &__name {
    margin-bottom: 15px;
    display: block;
    font-size: 15px;
    line-height: 1;
    font-weight: 400;
    color: #3c3c3c;
  }

  &__range {
    border-radius: 4px;
    width: 100%;
    height: 5px;
    border: none;
    background-color: #ccc;
    border-radius: 2px;
    margin-bottom: 20px;
  }

  &__values {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  &__min {
    margin-right: 5px;
  }

  &__max {
    margin-left: 5px;
  }

  &__min,
  &__max {
    flex-shrink: 0;
    width: auto;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #70747f;
  }

  .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #222222;
    background-color: var(--color-white);
    cursor: pointer;
    box-shadow: none;
    top: -8px;
    transition: 200ms ease;

    &:hover {
      border-color: var(--color-dark);
      transform: scale(1.2);
    }

    &::before,
    &::after {
      display: none;
    }
  }

  .noUi-connect {
    background-color: #222222;
  }

  .noUi-touch-area {
    &::after {
      @include elDef();
      width: 7px;
      height: 7px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include backgroundImage(url('../images/content/lines.png'), contain);
      z-index: 10;
    }
  }
}

.nice-select {
  .list {
    width: 100%;
  }
}

.choose-size {
  &__text {
    margin-bottom: 25px;
  }

  &__row {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1px;
    height: 48px;
    line-height: 1;
    @include adaptive-value('font-size', 20, 16, 1);

    &:nth-child(1) {
      .choose-size__left,
      .choose-size__right {
        background-color: #858585;
        font-weight: 300;
        color: var(--color-white);
        width: 100%;
      }
    }
  }

  &__left,
  &__right {
    line-height: 1;
    padding: 12px 20px 10px;
    background-color: rgba(243, 243, 243, 0.99);
    border-top: 1px solid var(--color-white);
    width: 100%;

    @include breakpointsMaxW($bp-360) {
      padding-left: 15px;
    }
  }
}

.cookie {
  position: fixed;
  bottom: 0;
  background-color: rgba(31, 31, 31, 0.99);
  line-height: 1;
  color: var(--color-white);
  padding: 20px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;

  @include adaptive-value('font-size', 17, 14, 1);

  &__text {
    margin-right: 80px;

    @include breakpointsMaxW($bp-768) {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px;
      line-height: 1.5;
    }
  }

  &__btn {
    color: var(--color-white);
  }

  @include breakpointsMaxW($bp-768) {
    flex-direction: column;
    text-align: center;
  }
}

.card-badge {
  width: 64px;
  height: 64px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--color-white);
  border-radius: 50%;

  &__text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: #242424;
  }

  &__price {
    color: #c83c3c;
  }
}

#ouibounce-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#ouibounce-modal .underlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  animation: fadein 0.5s;
}

#ouibounce-modal .modal {
  padding: 35px;
  max-width: 470px;
  width: calc(100% - 40px);
  height: 400px;
  max-height: calc(100% - 100px);
  background-color: #f0f1f2;
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  animation: popin 0.3s;
}

#ouibounce-modal .modal-title {
  font-weight: 700;
  margin: 0 auto;
  line-height: 1.2;
  margin-bottom: 20px;
  color: var(--color-dark);
  text-align: center;
  @include adaptive-value('font-size', 25, 20, 1);
}

#ouibounce-modal .modal-body {
  padding: 35px;
}

#ouibounce-modal .modal-close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

#ouibounce-modal .modal-text {
  font-size: 18px;
  font-weight: 400;
  color: #858585;
  margin-bottom: 30px;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popin {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  85% {
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
