.accordion {
  padding-left: 1px;

  &.active {
    .accordion-control {
      &::after {
        transform: translateY(-50%) rotate(-90deg);
      }
    }
  }

  &-control {
    cursor: pointer;
    transition: 150ms ease;
    position: relative;

    &::after {
      @include elDef();
      width: 12px;
      height: 12px;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(34,34,34,0.99);
      transition: 250ms ease;
      @include maskImage(url('../images/chevron.svg'), contain);
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    z-index: 9;
    transition: 400ms ease;
  }
}
