.contacts {
  font-weight: 300;
  color: #2c2c2c;
  padding-top: 30px;
  @include adaptive-value('padding-bottom', 110, 70, 1);

  &__map {
    @include adaptive-value('margin-bottom', 65, 40, 1);

    iframe {
      height: 280px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 100px;

    @include breakpointsMaxW($bp-container) {
      gap: 50px;
    }

    @include breakpointsMaxW($bp-768) {
      grid-template-columns: 1fr;
    }
  }

  &__heading {
    line-height: 1.1;
    font-weight: 300;
    @include adaptive-value('margin-bottom', 47, 30, 1);
    @include adaptive-value('font-size', 26, 22, 1);

    @include breakpointsMaxW($bp-576) {
      text-align: center;
    }
  }

  &__list {
    @include adaptive-value('margin-bottom', 50, 30, 1);
  }

  &__item {
    padding-left: 50px;
    position: relative;
    width: 100%;
    max-width: 270px;

    &-wrap {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
    }

    &:not(:last-child) {
      @include adaptive-value('margin-bottom', 45, 30, 1);
    }

    &::after {
      @include elDef();
      width: 37px;
      height: 37px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    &--phone {
      &::after {
        @include backgroundImage(url('../images/phone-icon.png'), contain);
      }
    }

    &--email,
    &--address {
      &::after {
        @include backgroundImage(url('../images/email-icon.png'), contain);
      }
    }
  }

  &__link {
    transition: 200ms ease;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: var(--color-dark);
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    padding-left: 50px;
  }

  &__social {
    font-size: 21px;
    line-height: 1;
    font-weight: 300;
    border-bottom: 1px solid #282828;
    color: #282828;
    transition: 200ms ease;

    &:hover {
      border-bottom-color: transparent;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
