.form-submit {
  width: 100%;
  border: 1px solid #e0e0e0;
  @include adaptive-value('padding', 25, 15, 1);

  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 25px;
    margin-bottom: 25px;
  }

  &__input {
    display: block;
    background-color: #f3f3f3;
    padding: 14px 20px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1;
    font-weight: 300;
    height: 100%;
    color: var(--color-black);

    &::placeholder {
      color: #2c2c2c;
    }

    &:focus {
      outline: transparent;
    }
  }

  &__bottom {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 25px;

    @include breakpointsMaxW($bp-991) {
      grid-template-columns: 1fr;
    }
  }

  .checkbox {
    font-size: 16px;
    line-height: 1;
    font-weight: 300;

    &__text {
      color: #8c8c8c;
    }

    a {
      color: #2c2c2c;
    }
  }

  &__group {
    @include breakpointsMaxW($bp-768) {
      grid-column: 1/-1;
    }

    &--big {
      grid-column: 1/-1;
      height: 80px;
    }

    &--select {
      grid-column: 1/-1;
    }
  }

  &__btn {
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;

    @include breakpointsMaxW($bp-768) {
      width: 100%;
    }
  }

  .nice-select {
    &::after {
      @include elDef();
      border: none;
      width: 22px;
      height: 22px;
      transform: rotate(0);
      top: 50%;
      transform: translate(0, -50%);
      margin-top: 0;
      @include backgroundImage(url('../images/chevron-full.png'), contain);
    }
  }
}
