.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  z-index: 10;
  border-bottom: 1px solid #ededed;
  transition: 200ms ease;

  &--main {
    border-bottom: none;
  }

  &.scroll-header {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-bottom-color: transparent;

    .header__bottom,
    .header__top {
      display: none;
    }

    .menu {
      border-bottom: none;
      &__link {
        padding-bottom: 10px;
      }
    }

    .header__tools {
      padding-bottom: 10px;
      border-bottom: none;
    }
  }

  &__toggle {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 200ms ease-in;
    position: relative;
    border-radius: 3px;
    display: none;

    @include breakpointsMaxW($bp-991) {
      display: flex;
    }

    &-line {
      border-radius: 3px;
      width: 100%;
      height: 2px;
      background-color: var(--color-black);
      position: relative;
      transition: 200ms ease-in;

      &::after,
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        background-color: inherit;
        transition: 200ms ease-in;
        border-radius: 3px;
      }

      &::after {
        top: -8px;
      }

      &::before {
        bottom: -8px;
      }
    }
  }

  &__top {
    padding: 12px 0;
    background-color: #ededed;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #9d9999;

    @include breakpointsMaxW($bp-991) {
      display: none;
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__address {
    padding-left: 20px;
    position: relative;

    &::after {
      @include elDef();
      width: 14px;
      height: 14px;
      top: 40%;
      transform: translateY(-50%);
      left: 0;
      background-color: #c1c1c1;
      @include maskImage(url('../images/location.svg'), contain);
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;

    @include breakpointsMaxW($bp-991) {
      padding: 15px 0;
    }
  }

  &__menu {
    flex: 1;
  }

  &__tools {
    flex: 1;
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;

    .header-tools__list {
      justify-content: flex-end;
    }

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  &__logo {
    width: 130px;
    margin-bottom: 10px;

    @include breakpointsMaxW($bp-991) {
      width: auto;
    }

    img {
      width: 90%;
      margin: 0 auto;

      @include breakpointsMaxW($bp-991) {
        width: 100%;
      }
    }
  }

  &__bottom {
    padding: 20px 0;

    @include breakpointsMaxW($bp-991) {
      display: none;
    }
  }

  .header-phones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;

    &__link {
      padding-left: 20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      a {
        transition: 200ms ease;
        text-align: right;
        margin-left: 10px;

        &:hover {
          color: var(--color-black);
        }
      }

      &::after {
        @include elDef();
        width: 10px;
        height: 10px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #c1c1c1;
      }

      &--phone {
        &::after {
          @include maskImage(url('../images/phone.svg'), contain);
        }
      }

      &--whatsapp {
        &::after {
          @include maskImage(url('../images/whatsapp.svg'), contain);
        }
      }
    }
  }

  .dropmenu {
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    width: 300px;
    position: absolute;
    left: 0;
    top: 230px;
    background-color: var(--color-white);

    border-radius: 5px;
    padding: 40px 0;
    transition: 450ms ease;
    transition-delay: 150ms;

    width: 100%;

    max-height: calc(100vh - 100px);

    @include breakpointsMaxW($bp-991) {
      display: none;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 0.4fr 1fr;
      gap: 100px;
      background-color: var(--color-white);

      @include breakpointsMaxW($bp-container) {
        gap: 50px;
      }
    }

    &__cols {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 80px;

      @include breakpointsMaxW($bp-container) {
        gap: 30px;
      }
    }

    &__col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__list {
      margin-bottom: 30px;
    }

    &__name {
      display: block;
      font-size: 18px;
      line-height: 1;
      font-weight: 400;
      color: #282828;
      padding-bottom: 15px;
      margin-bottom: 10px;
      border-bottom: 1px solid #edecea;
    }

    &__preview {
      max-width: 795px;
      width: 100%;
      height: 375px;

      img {
        @include img(cover);
      }
    }

    &:hover {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &__item {
      position: relative;

      &:last-child {
        border-bottom: none;
      }
    }

    &__btn {
      margin-top: auto;
    }

    &__link {
      display: block;
      width: 100%;
      font-size: 16px;
      line-height: 1;
      font-weight: 400;
      color: #838383;
      padding: 8px 0;
      position: relative;
      transition: 150ms ease;

      &:hover {
        color: var(--color-black);
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-self: end;
    }

    &__collections-btn {
      margin-top: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      span {
        font-size: 16px;
        line-height: 35px;
        font-weight: 400;
        color: #838383;
      }
    }
  }
}

.header-tools {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 18px;
    }

    &:hover {
      .cart-box {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }
    }
  }

  &__link {
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    svg {
      width: 100%;
      height: 100%;
    }

    &--cart {
      padding: 0;
    }

    &-count {
      position: absolute;
      width: 21px;
      height: 21px;
      background-color: #282828;
      border: 2px solid var(--color-white);
      border-radius: 50%;
      font-size: 12px;
      line-height: 1;
      font-weight: 400;
      color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      top: -4px;
      right: -4px;
    }
  }
}

.cart-box {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  font-size: 16px;
  position: absolute;
  right: 0;
  width: 270px;
  background-color: rgba(255, 255, 255, 0.99);
  border: 1px solid #222222;
  z-index: 1;
  top: 50px;
  transition: 500ms ease;

  &__top {
    padding: 15px 20px 10px;
  }

  &__bottom {
    padding: 7px;
  }

  &__btn {
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 15px;
  }

  &__count {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
  }

  &__remove {
    margin-left: 80px;
    display: block;
    padding-left: 20px;
    position: relative;
    margin-top: 10px;
    border-bottom: 1px solid transparent;
    transition: 200ms ease;

    &:hover {
      border-bottom-color: var(--color-dark);
    }

    &::after {
      @include elDef();
      width: 15px;
      height: 15px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: var(--color-dark);
      @include maskImage(url('../images/icons/close.svg'), contain);
    }
  }
}

.cart-item {
  display: flex;
  align-items: center;
  font-size: 16px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &__img {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
    margin-right: 15px;

    img {
      @include img(cover);
    }
  }

  &__info {
    font-size: 16px;
    font-weight: 400;
    color: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    font-size: 16px;
  }

  &__text {
    font-weight: 400;
  }
}

.link-arrow {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #323232;
  padding-right: 25px;
  position: relative;
  transition: 200ms ease;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-color: var(--color-dark);
  }

  &::after {
    @include elDef();
    width: 15px;
    height: 15px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-dark);
    @include maskImage(url('../images/arrow-2.svg'), contain);
  }
}
