<section class="about">
  <div class="container">
    <div class="about__row">
      <div class="about__offer">
        <h1 class="about__title">Магазин обуви N.O.Black</h1>

        <div class="about__text">
          <p>
            на 3 этаже торгового центра "Триумфальный" - это мультибрендовый
            бутик женской и мужской обуви, сумок, одежды и аксессуаров.
          </p>
          <p>
            Вы можете купить оригинальную итальянскую обувь в нашем магазине и
            покупка обязательно доставит Вам удовольствие! У нас есть доставка
            по Москве и в регионы!
          </p>
          <p>
            Мы принимаем карты и всегда выбиваем чек! Если обувь Вам не подошла,
            Вы можете вернуть или обменять ее согласно законам РФ.
          </p>
          <p>
            Магазин уделяют должное внимание обуви больших и не стандартных
            размеров.
          </p>
          <p>
            У нас представлен большой модельный ряд обуви, в т.ч. самых
            маленьких и больших размеров - как мужской (с 38 по 46 р-р), так и
            женской (с 34 по 42 р-р), а также широкий ассортимент женских и
            мужских аксессуаров: сумок, ремней, перчаток, шапочек и шарфов.
          </p>
        </div>
      </div>
      <div class="about__preview">
        <img src="images/about/1.jpg" alt="about" />
      </div>
    </div>
    <div class="about__row">
      <div class="about__offer">
        <div class="about__text">
          <p>Мы выбираем женскую одежду по принципу покупка для себя!</p>
          <p>
            Только из натуральных и самых качественных тканей с наилучшей
            посадкой по фигуре.
          </p>
          <p>
            Магазин работает с обувными фабриками и с дизайнерами напрямую,
            потому гарантирует подлинность и качество продукции, которая
            представлена на полках магазина.
          </p>
          <p>
            Модели подбираются и заказываются с учётом специфики строения ног
            россиян (высокий подъём, хорошая полнота и многое другое). Наши
            покупатели знают, что эти проблемы трудно решить при покупке обуви
            за рубежом.
          </p>
          <p>
            Вы всегда можете просмотреть всю предлагаемую обувь и примерить её с
            удобством.
          </p>
          <p>
            Для постоянных покупателей в магазине действует система акций с
            бонусами и скидками, потому став нашим постоянным покупателем, Вы
            сможете купить отличную обувь и одежду по привлекательной цене!
          </p>
          <p>Ждем Вас на Вавилова 66 в N.O.Black</p>
          <p>Всем удачи и хорошего дня!</p>
        </div>
      </div>
      <div class="about__right">
        <div class="about__preview">
          <img src="images/about/2.jpg" alt="about" />
        </div>

        <div class="about__requisites requisites">
          <span class="requisites__name">Реквизиты: </span>
          <ul class="requisites__list">
            <li class="requisites__item">ИП Курмукова О.Б.</li>
            <li class="requisites__item">ИНН: 772427908916</li>
            <li class="requisites__item">ОГРН: 305770000021460</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
