<section class="banners">
  <div class="container">
    <h2 class="visually-hidden">Баннеры</h2>

    <ul class="banners__list">
      <li
        class="banners-item"
        style="background-image: url('images/banners/1.jpg')"
      >
        <div class="banners-item__top">
          <h3 class="banners-item__title"><a href="#"> Для женщин </a></h3>

          <ul class="banners-item__list">
            <li class="banners-item__item">
              <a class="banners-item__link" href="#">• Обувь</a>
            </li>
            <li class="banners-item__item">
              <a class="banners-item__link" href="#">• Пальто и куртки</a>
            </li>
            <li class="banners-item__item">
              <a class="banners-item__link" href="#">• Джинсы</a>
            </li>
            <li class="banners-item__item">
              <a class="banners-item__link" href="#">• Платья</a>
            </li>
          </ul>
        </div>

        <a class="banners-item__btn btn" href="#">В каталог</a>
      </li>
      <li
        class="banners-item"
        style="background-image: url('images/banners/2.jpg')"
      >
        <div class="banners-item__top">
          <h3 class="banners-item__title"><a href="#"> Для мужчин </a></h3>

          <ul class="banners-item__list">
            <li class="banners-item__item">
              <a class="banners-item__link" href="#">• Туфли</a>
            </li>
            <li class="banners-item__item">
              <a class="banners-item__link" href="#">• Кроссовки</a>
            </li>
            <li class="banners-item__item">
              <a class="banners-item__link" href="#">• Ботинки</a>
            </li>
            <li class="banners-item__item">
              <a class="banners-item__link" href="#">• Мокасины</a>
            </li>
          </ul>
        </div>

        <a class="banners-item__btn btn" href="#">В каталог</a>
      </li>
    </ul>
  </div>
</section>
