<section class="brands">
  <div class="container">
    <h2 class="visually-hidden">Бренды</h2>

    <div class="brands__slider swiper">
      <ul class="brands__slides swiper-wrapper">
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/1.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/2.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/3.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/4.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/5.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/6.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/7.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/1.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/2.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/3.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/4.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/5.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/6.png" alt="brand" />
          </a>
        </li>
        <li class="brands__slide swiper-slide">
          <a href="#">
            <img src="images/brands-slider/7.png" alt="brand" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
