<section class="clothes-sizes">
  <div class="container">
    <h1 class="clothes-sizes__title">Размеры одежды</h1>

    <div class="clothes-sizes__text">
      <p>
        Чтобы подобрать необходимый размер, вам понадобятся ключевые параметры
        объема: груди, талии и бедер. Ниже информация о том, как их измерить.
      </p>
      <p>
        <span>Объем груди.</span> Для измерения этого параметра вам необходимо
        расположить сантиметр, чтобы он охватил самые выпуклые точки груди,
        подмышечные впадины и нижнюю часть лопаток.
      </p>
      <p>
        <span>Объем талии.</span> Для измерения этого параметра вам необходимо
        расположить сантиметр на талии, строго параллельно полу.
      </p>
      <p>
        <span>Объем бедер.</span> Для измерения этого параметра, вам необходимо
        измерить самую широкую часть бедер.
      </p>
      <p>
        Чтобы определить подходящий размер, соотнесите полученные измерения с
        размерами в таблице.
      </p>
    </div>

    <div class="clothes-sizes__inner">
      <div class="clothes-sizes__table">
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">Обхват груди (см)</div>
          <div class="clothes-sizes__item">Обхват талии (см)</div>
          <div class="clothes-sizes__item">Россия</div>
          <div class="clothes-sizes__item">Международный</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">81,3</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">42</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">83,6</div>
          <div class="clothes-sizes__item">66</div>
          <div class="clothes-sizes__item">42-44</div>
          <div class="clothes-sizes__item">S</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">86,4</div>
          <div class="clothes-sizes__item">68,6</div>
          <div class="clothes-sizes__item">44-46</div>
          <div class="clothes-sizes__item">S</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">88,9</div>
          <div class="clothes-sizes__item">71,1</div>
          <div class="clothes-sizes__item">46</div>
          <div class="clothes-sizes__item">M</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">91,4</div>
          <div class="clothes-sizes__item">73,7</div>
          <div class="clothes-sizes__item">44/46</div>
          <div class="clothes-sizes__item">M</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">94</div>
          <div class="clothes-sizes__item">76,2</div>
          <div class="clothes-sizes__item">48</div>
          <div class="clothes-sizes__item">L</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">96,5</div>
          <div class="clothes-sizes__item">80</div>
          <div class="clothes-sizes__item">46/48</div>
          <div class="clothes-sizes__item">L</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">100,3</div>
          <div class="clothes-sizes__item">83,8</div>
          <div class="clothes-sizes__item">50</div>
          <div class="clothes-sizes__item">XL</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">105,4</div>
          <div class="clothes-sizes__item">87,6</div>
          <div class="clothes-sizes__item">48/50</div>
          <div class="clothes-sizes__item">XL</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">110,3</div>
          <div class="clothes-sizes__item">88,8</div>
          <div class="clothes-sizes__item">54</div>
          <div class="clothes-sizes__item">XXL</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">114,4</div>
          <div class="clothes-sizes__item">90,6</div>
          <div class="clothes-sizes__item">48/50</div>
          <div class="clothes-sizes__item">XXL</div>
        </div>
      </div>
    </div>
  </div>
</section>
