<section class="clothes-sizes">
  <div class="container">
    <h1 class="clothes-sizes__title">Размеры одежды</h1>

    <div class="clothes-sizes__text">
      <p>
        Чтобы подобрать необходимый размер, вам понадобятся ключевые параметры
        объема: груди, талии и бедер. Ниже информация о том, как их измерить.
      </p>
      <p>
        <span>Объем груди.</span> Для измерения этого параметра вам необходимо
        расположить сантиметр, чтобы он охватил самые выпуклые точки груди,
        подмышечные впадины и нижнюю часть лопаток.
      </p>
      <p>
        <span>Объем талии.</span> Для измерения этого параметра вам необходимо
        расположить сантиметр на талии, строго параллельно полу.
      </p>
      <p>
        <span>Объем бедер.</span> Для измерения этого параметра, вам необходимо
        измерить самую широкую часть бедер.
      </p>
      <p>
        Чтобы определить подходящий размер, соотнесите полученные измерения с
        размерами в таблице.
      </p>
    </div>

    <div class="clothes-sizes__inner">
      <div class="clothes-sizes__table">
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">Обхват груди (см)</div>
          <div class="clothes-sizes__item">Обхват талии (см)</div>
          <div class="clothes-sizes__item">Россия</div>
          <div class="clothes-sizes__item">Международный</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
        <div class="clothes-sizes__col">
          <div class="clothes-sizes__item">78,7</div>
          <div class="clothes-sizes__item">63,5</div>
          <div class="clothes-sizes__item">40</div>
          <div class="clothes-sizes__item">XS</div>
        </div>
      </div>
    </div>
  </div>
</section>
