<section class="colors">
  <div class="container">
    <div class="colors__top">
      <h2 class="colors__title">Цветы</h2>
      <p class="colors__text">
        На данной странице вы можете подбрать одежду или обувь по нужному цвету.
      </p>
    </div>
    <form class="form-filter">
      <div class="form-filter__boxes">
        <div class="form-filter__box">
          <span class="form-filter__name">Выберите нужны цвет</span>

          <ul class="form-filter__list form-filter__list--colors">
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Белый </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Черный </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Серый </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Синий </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Красный </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Желтый </span>
              </label>
            </li>
          </ul>
        </div>

        <div class="form-filter__box">
          <span class="form-filter__name">Выберите нужный тип одежды</span>
          <ul class="form-filter__list form-filter__list--type">
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Вся одежда </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Пуховики </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Трикотаж </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Деним </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Брюки и джинсы </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Комбинезоны </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Костюмы </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text"> Юбки </span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Блузы</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Пальто и куртки</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Платья</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Пиджаки</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Рубашка</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Толстовки и худи</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Шорты</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Сумки</span>
              </label>
            </li>
          </ul>
        </div>

        <div class="form-filter__box">
          <span class="form-filter__name">Выберите нужный тип обуви</span>
          <ul class="form-filter__list form-filter__list--type-shoes">
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Вся обувь</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Ботинки</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Сапоги</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Берцы</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Челси</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Кроссовки и кеды</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Балетки</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Лоферы</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Mюли</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Босоножки</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Слипоны</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Туфли</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">Мокасины</span>
              </label>
            </li>
          </ul>
        </div>
        <div class="form-filter__box">
          <span class="form-filter__name">Где искать</span>
          <ul class="form-filter__list form-filter__list--type-shoes">
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">В женском</span>
              </label>
            </li>
            <li class="form-filter__item">
              <label class="checkbox">
                <input class="checkbox__input" type="checkbox" />
                <span class="checkbox__box"></span>
                <span class="checkbox__text">В мужском</span>
              </label>
            </li>
          </ul>
        </div>
      </div>

      <button class="form-filter__btn btn" type="submit">
        Показать варианты
      </button>
    </form>
  </div>
</section>
