<section class="collections">
  <div class="container">
    <h2 class="collections__title">Коллекции популярных брендов</h2>

    <div class="collections__slider swiper">
      <ul class="collections__slides swiper-wrapper">
        <li class="collections__slide swiper-slide">
          <a
            class="collections-card"
            href="#"
            style="background-image: url('images/collections/1.jpg')"
          >
            <a class="collections-card__brand brand" href="#">
              <img src="images/brands/1.png" alt="brand" />
            </a>
          </a>
        </li>
        <li class="collections__slide swiper-slide">
          <a
            class="collections-card"
            style="background-image: url('images/collections/2.jpg')"
            href="#"
          >
            <a class="collections-card__brand brand" href="#">
              <img src="images/brands/2.png" alt="brand" />
            </a>
          </a>
        </li>
        <li class="collections__slide swiper-slide">
          <a
            class="collections-card"
            style="background-image: url('images/collections/3.jpg')"
            href="#"
          >
            <a class="collections-card__brand brand" href="#">
              <img src="images/brands/3.png" alt="brand" />
            </a>
          </a>
        </li>
        <li class="collections__slide swiper-slide">
          <a
            class="collections-card"
            style="background-image: url('images/collections/1.jpg')"
            href="#"
          >
            <a class="collections-card__brand brand" href="#">
              <img src="images/brands/1.png" alt="brand" />
            </a>
          </a>
        </li>
        <li class="collections__slide swiper-slide">
          <a
            class="collections-card"
            style="background-image: url('images/collections/2.jpg')"
            href="#"
          >
            <a class="collections-card__brand brand" href="#">
              <img src="images/brands/2.png" alt="brand" />
            </a>
          </a>
        </li>
        <li class="collections__slide swiper-slide">
          <a
            class="collections-card"
            style="background-image: url('images/collections/3.jpg')"
            href="#"
          >
            <a class="collections-card__brand brand" href="#">
              <img src="images/brands/3.png" alt="brand" />
            </a>
          </a>
        </li>
      </ul>

      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>
  </div>
</section>
