<section class="contacts">
  <div class="contacts__map map">
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A60ab1f3abaa4e05d39dc969bc6dad6f523a18ebaabf66107f7130d7a10ddde63&amp;source=constructor"
      width="800"
      height="280"
    ></iframe>
  </div>
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__left">
        <h2 class="contacts__heading">Контактная информация</h2>

        <ul class="contacts__list">
          <li class="contacts__item contacts__item--phone">
            <div class="contacts__item-wrap">
              Телефон:<a class="contacts__link" href="tel:+79152137661">
                +7 (915) 213-76-61
              </a>
            </div>
            <div class="contacts__item-wrap">
              WhatsApp:<a class="contacts__link" href="#">+7 (985) 224-15-87</a>
            </div>
          </li>
          <li class="contacts__item contacts__item--email">
            <div>
              E-mail:
              <a class="contacts__link" href="mailto:info@mafo-fashion.ru">
                info@mafo-fashion.ru
              </a>
            </div>
          </li>
          <li class="contacts__item contacts__item--address">
            <address>
              г. Москва, ул. Вавилова, 66, <br />
              ТЦ Триумфальный, 3 этаж
            </address>
          </li>
        </ul>

        <div class="contacts__socials">
          <a class="contacts__social" href="#" target="_blank">instagram </a>
          <a class="contacts__social" href="#" target="_blank">facebook</a>
        </div>
      </div>
      <div class="right"></div>
    </div>
  </div>
</section>
