<section class="delivery-terms">
  <div class="container">
    <h2 class="delivery-terms__title">Условия и способы доставки</h2>

    <div class="delivery-terms__top">
      <p>
        Доставка в регионы России осущеcтвляется почтой РФ или компанией СДЭК.
      </p>
      <p>
        Cтоимость доставки не входит в цену товара, определяется размером и
        объемом товара и предварительно оговаривается с покупателем, обычно не
        превышает 400-1000 рублей.
      </p>
      <p>
        Доставка осуществляется до адреса который клиент указывает при заказе
        почтой РФ все товары отправляются с полной страховкой товара, любо по
        выбору клиента.
      </p>
    </div>

    <p class="delivery-terms__name">
      В настоящий момент доступна услуга "Доставка c примеркой" :
    </p>

    <ul>
      <li>• По Москве в пределах МКАД при сумме покупки от 10 950 руб.</li>
      <li>• МО 20 км от MKAD при сумме покупки от 17 950 рублей,</li>
    </ul>

    <p>
      Для Вашего удобства любой товар может быть забронирован покупателем и
      выкуплен непосредственно из магазина в Москве, после примерки в любое
      удобное для Вас время с 11.00 до 20.45 ежедневно по адресу Вавилова 66 ТЦ
      Триумфальный 3 этаж бутик N.O.Black.
    </p>

    <p>
      Так же Вы можете оплатить стоимость товара в размере 100% и мы отправим
      Вам его в ближайший рабочий день службой СДЭК или почтой РФ.
    </p>
  </div>
</section>
