<section class="delivery-cost">
  <div class="container">
    <h2 class="delivery-cost__title">Стоимость доставки</h2>

    <div class="delivery-cost__top">
      <p>
        В нашем магазине возможна услуга "Доставка с примеркой" для одного
        заказа до 3-х пар обуви +3-х единиц одежды.
      </p>
      <p>За доставку каждой последующей пары обуви или вещи доплата 50 руб.</p>
    </div>

    <div class="delivery-cost__box">
      <p>
        <b>Для Вашего удобства</b> доставку осуществляют продавцы консультанты,
        которые могут дать Вам всю дополнительную информацию от товаре и при
        необходимости помочь сделать правильный выбор:
      </p>
      <ul class="delivery-cost__list">
        <li class="delivery-cost__item">• по Москве в пределах МКАД.</li>
        <li class="delivery-cost__item">
          • от 550 до 750 руб в зависимости от адреса доставки c 10.00 до 19.00
          на следующий день после заказа или по договоренности до 3-х пар
          обуви+3-х единиц вещей.
        </li>
      </ul>
    </div>
    <div class="delivery-cost__box">
      <p>
        Доставка каждой последующей пары обуви стоит +50 руб и оговаривается
        отдельно.
      </p>
      <ul class="delivery-cost__list">
        <li class="delivery-cost__item">• 750 руб за пределы MKAD.</li>
        <li class="delivery-cost__item">
          • 1250 руб 1) cрочная доставка, 2) срочная доставка за пределы MKAD,
          3) после 21.00 независимо от дня недели и приобретения товара.
        </li>
        <li class="delivery-cost__item">
          • Услуга "Доставка с примеркой" не оплачивается по Москве при ПОКУПУКЕ
          одного или нескольких единиц товара на общую сумму от 20900 Руб.
        </li>
      </ul>
    </div>
    <div class="delivery-cost__bottom">
      <p>
        Обратите внимание услуга "Срочная доставка c примеркой" и доставка после
        19.00 по запросу покупателя оплачивается независимо от того выкуплен
        товар или нет.
      </p>
      <p>
        В 14-дневный срок после покупки покупатель имеет право на
        немотивированный обмен/возврат товара надлежащего качества при условии
        сохранения товарного вида, ярлыков и фирменной упаковки.
      </p>
    </div>
  </div>
</section>
