<section class="delivery">
  <div class="container">
    <div class="delivery__top">
      <h1 class="delivery__title">Доставка и оплата</h1>

      <p class="delivery__text">Способ оплаты зависит от способа доставки:</p>
    </div>

    <ul class="delivery__list">
      <li class="delivery-item">
        <span class="delivery-item__heading"
          >При доставке в регионы России</span
        >
        <ol class="delivery-item__list">
          <li class="delivery-item__item">
            <span class="delivery-item__name">Переводом на счет магазина.</span>
            <p class="delivery-item__text">
              Реквизиты прилагаются в ответном письме после подтверждения выбора
              способа оплаты.
            </p>
          </li>
          <li class="delivery-item__item">
            <span class="delivery-item__name">Другое</span>
            <p class="delivery-item__text">
              Вы сможете уточнить по звонке по телефону: +7915213-76-61 или
              написав, позвонив в What’s app:+79852241587
            </p>
          </li>
        </ol>
      </li>
      <li class="delivery-item">
        <span class="delivery-item__heading"
          >При доставке c примеркой по Москве и МО 20 км</span
        >
        <ol class="delivery-item__list">
          <li class="delivery-item__item">
            <span class="delivery-item__name">Наличными курьеру.</span>
            <p class="delivery-item__text">
              Оплатите заказ наличными нашему курьеру, при получении заказа.
            </p>
          </li>
          <li class="delivery-item__item">
            <span class="delivery-item__name">Банковской картой курьеру</span>
            <p class="delivery-item__text">
              Стоимость данной услуги составляет +3% к цене товара.
            </p>
          </li>
        </ol>
      </li>
      <li class="delivery-item delivery-item--self-delivery">
        <span class="delivery-item__heading">При самовывозе</span>
        <p class="delivery-item__text">
          В Notonlyblack доступна услуга "Бронь товара на 24 часа на складе
          магазина" бесплатно) из магазина N.O.Black (Mосква Вавилова 66, ТЦ
          Триумфальный 3 этаж)
        </p>
        <ol class="delivery-item__list">
          <li class="delivery-item__item">Наличными продавцу.</li>
          <li class="delivery-item__item">
            Банковской картой, мы принимаем все карты действующие в РФ карты.
          </li>
        </ol>
      </li>
    </ul>
  </div>
</section>
