<section class="delivery-procedure">
  <div class="container">
    <h2 class="delivery-procedure__title">Процедура доставки:</h2>
    <ol class="delivery-procedure__list">
      <li class="delivery-procedure__item">
        Перед выездом наш ответственный за доставку товара связывается по
        телефону с покупателем и получает подтверждение времени и места
        доставки.
      </li>
      <li class="delivery-procedure__item">
        Если клиент в течение 15-30 минут не выходит на связь, то доставка
        отменяется или переносится, а бронь на заказанный товар аннулируется.
      </li>
      <li class="delivery-procedure__item">
        Возможность вторичного заказа обсуждается в индивидуальном порядке,
        после того как покупатель подтвердит заказ вторично.
      </li>
      <li class="delivery-procedure__item">
        Примерка обуви осуществляется в присутствии продавца.
      </li>
    </ol>
  </div>
</section>
