<section class="discount-scale">
  <div class="container">
    <h2 class="discount-scale__title">Шкала скидок</h2>

    <ul class="discount-scale__list">
      <li class="discount-scale-item active">
        <div class="discount-scale-item__percent"><span>5%</span></div>
        <span class="discount-scale-item__sum">50 000 руб.</span>
      </li>
      <li class="discount-scale-item">
        <div class="discount-scale-item__percent"><span>6%</span></div>
        <span class="discount-scale-item__sum">100 000 руб.</span>
      </li>
      <li class="discount-scale-item">
        <div class="discount-scale-item__percent"><span>7%</span></div>
        <span class="discount-scale-item__sum">150 000 руб.</span>
      </li>
      <li class="discount-scale-item">
        <div class="discount-scale-item__percent"><span>8%</span></div>
        <span class="discount-scale-item__sum">200 000 руб.</span>
      </li>
      <li class="discount-scale-item">
        <div class="discount-scale-item__percent"><span>9%</span></div>
        <span class="discount-scale-item__sum">250 000 руб.</span>
      </li>
      <li class="discount-scale-item">
        <div class="discount-scale-item__percent"><span>10%</span></div>
        <span class="discount-scale-item__sum">300 000 руб.</span>
      </li>
      <li class="discount-scale-item">
        <div class="discount-scale-item__percent"><span>11%</span></div>
        <span class="discount-scale-item__sum">350 000 руб.</span>
      </li>
      <li class="discount-scale-item">
        <div class="discount-scale-item__percent"><span>12%</span></div>
        <span class="discount-scale-item__sum">400 000 руб.</span>
      </li>
      <li class="discount-scale-item">
        <div class="discount-scale-item__percent"><span>15%</span></div>
        <span class="discount-scale-item__sum">500 000 руб.</span>
      </li>
    </ul>

    <div class="discount-scale__text">
      <p>
        Чтобы сохранить процент скидки Вам необходимо совершить хотя бы одну
        покупку в течение года.
      </p>
      <p>
        При отсутствии покупок в течение года, процент скидки понижается до
        предшествующего уровня скидки.
      </p>
      <p>
        При совершении покупок с предъявлением карты лояльности на суммы 50 000
        рублей и 250 000 рублей <span>скидка клиента фиксируется на уровне 5% и 10%</span>.
      </p>
    </div>
  </div>
</section>
