<section class="guarantees">
  <div class="container">
    <h2 class="guarantees__title">Гарантии</h2>

    <p class="guarantees__name">
      Если товар Вам по каким-то причинам не подошел
    </p>

    <div class="guarantees__top">
      <p>• Отказаться от товара в любой момент при совершении покупки.</p>
      <p>• Вернуть новый, не использованный товар в течение 14 рабочих дней.</p>
      <p>
        • При обнаружении скрытого заводского брака обменять товар на новый
        аналогичный или вернуть его в течение 2-х сезонов с начала эксплуатации.
      </p>
      <p>
        • Возврат либо обмен товара, купленного путем доставки, осуществляется
        за счет средств покупателя.
      </p>
      <p>
        • Возврат стоимости качественного товара осуществляется в течение 3-х
        рабочих дней.
      </p>
      <p>
        • Возврат стоимости товара со скрытым браком осуществляется в течение
        3-х рабочих дней после подтверждения брака.
      </p>
    </div>

    <p>Внимание!</p>
    <p>
      Магазин не несет ответственность за возможные задержки перевода денежных
      средств в результате технических банковских процедур.
    </p>
    <p>
      • Возврат денег осуществляется тем же способом каким была осуществлена
      оплата за товар.
    </p>

    <div class="guarantees__quality">
      <p>
        Mы постоянно работаем над повышением качества наших услуг и будем рады
        узнать Ваши предложения по улучшению нашей работы.
      </p>
      <p>Присылайте их на почту: <a href="">info.notonlyblack@gmail.com</a></p>
    </div>
    <p class="guarantees__thanks">Спасибо, что выбрали наш магазин!</p>
  </div>
</section>
