<header class="header">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo logo" href="#">
        <img src="images/logo.png" alt="логотип" />
      </a>
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 6L18 18"
            stroke="#0F0F0F"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18 6L6 18"
            stroke="#0F0F0F"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Женское</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Мужское</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>New</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Sale</span></a>
      </li>
    </ul>

    <a class="mobile-menu__signin btn" href="#">Войти</a>
  </div>
  <!-- Mobile Menu -->

  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header__address">ТЦ Триумфальный, 3 этаж</div>
        <div class="header-phones">
          <div class="header-phones__link header-phones__link--phone">
            <span>Телефон:</span><a href="#">+7 915 213-76-61</a>
          </div>
          <div class="header-phones__link header-phones__link--whatsapp">
            <span>WhatsApp:</span><a href="#"> +7 915 213-76-61</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <nav class="header__inner">
      <div class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link active" href="#">Женское</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Мужское</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">New</a>
          </li>
          <li class="menu__item">
            <a class="menu__link menu__link--sale" href="#"
              >Sale

              <span>-70%</span>
            </a>
          </li>
        </ul>
      </div>

      <a class="header__logo logo" href="#">
        <img src="images/logo.png" alt="Логотип" />
      </a>

      <div class="header__tools header-tools">
        <ul class="header-tools__list">
          <li class="header-tools__item">
            <a class="header-tools__link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#search"></use>
              </svg>
            </a>
          </li>
          <li class="header-tools__item">
            <a class="header-tools__link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#user"></use>
              </svg>
            </a>
          </li>
          <li class="header-tools__item">
            <a class="header-tools__link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#heart-border"></use>
              </svg>
            </a>
          </li>
          <li class="header-tools__item">
            <a class="header-tools__link header-tools__link--cart" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>

              <span class="header-tools__link-count"> 0 </span>
            </a>

            <div class="cart-box">
              <div class="cart-box__top">
                <span class="cart-box__count">
                  <span>1</span> продукт в корзине
                </span>

                <div class="cart-item">
                  <div class="cart-item__img">
                    <img src="images/product/1.jpg" alt="product" />
                  </div>
                  <div class="cart-item__info">
                    <h3 class="cart-item__name"><a href="#">Camerlengo</a></h3>

                    <p class="cart-item__text">Черные меховые кеды</p>
                    <p class="cart-item__text">23 900 ₽</p>
                    <p class="cart-item__text">Размер: <span>39</span></p>
                  </div>
                </div>

                <button class="cart-box__remove" type="button">Удалить</button>
              </div>

              <div class="cart-box__bottom">
                <a class="cart-box__btn btn" href="#">ОФОРМИТЬ ЗАКАЗ</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <button class="header__toggle" type="button" aria-label="Открыть меню">
        <span class="header__toggle-line"></span>
      </button>
    </nav>

    <div class="header__bottom">
      <div class="menu-header">
        <ul class="menu-header__list">
          <li class="menu-header__item">
            <a class="menu-header__link" data-show="clothes" href="#">Обувь</a>
          </li>
          <li class="menu-header__item">
            <a class="menu-header__link" href="#">Одежда</a>
          </li>
          <li class="menu-header__item">
            <a class="menu-header__link" href="#">Сумки</a>
          </li>
          <li class="menu-header__item">
            <a class="menu-header__link" href="#">Аксессуары</a>
          </li>
          <li class="menu-header__item">
            <a class="menu-header__link" href="#">Бренды</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
