<header class="header header--main">
  <!-- Mobile Menu -->
  <div class="overlay"></div>

  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a class="mobile-menu__logo logo" href="#">
        <img src="images/logo.png" alt="логотип" />
      </a>
      <button
        class="mobile-menu__close"
        type="button"
        aria-label="Закрыть меню"
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6 6L18 18"
            stroke="#0F0F0F"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M18 6L6 18"
            stroke="#0F0F0F"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <ul class="mobile-menu__list">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Женское</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Мужское</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>New</span></a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#"><span>Sale</span></a>
      </li>
    </ul>

    <a class="mobile-menu__signin btn" href="#">Войти</a>
  </div>
  <!-- Mobile Menu -->

  <div class="dropmenu dropmenu--shoes" data-target="shoes">
    <div class="container">
      <div class="dropmenu__wrapper">
        <div class="dropmenu__cols">
          <div class="dropmenu__col">
            <span class="dropmenu__name">Модели</span>
            <ul class="dropmenu__list">
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Балетки</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Босоножки</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Ботильоны</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Ботинки</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Ботфорты</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Кеды</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Кроссовки</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Мокасины</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Полуботинки</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Полусапоги</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Резиновые сапоги</a>
              </li>
            </ul>
            <a class="dropmenu__btn link-arrow" href="#">Вся обувь</a>
          </div>
          <div class="dropmenu__col">
            <span class="dropmenu__name">Бренды</span>
            <ul class="dropmenu__list">
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Principe di Bologna</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Baldinini</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Premiata</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Fabi</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Pollini</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Barracuda</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">VIC MATIE'</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">AGL</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Stuart Weitzman</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Doucal’s</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Casadei</a>
              </li>
            </ul>
            <a class="dropmenu__btn link-arrow" href="#">Все бренды</a>
          </div>
        </div>
        <div class="dropmenu__right">
          <div class="dropmenu__preview">
            <img src="images/shoes-bg.jpg" alt="shoes" />
          </div>

          <div class="dropmenu__collections-btn">
            <span>Женская обувь</span>
            <a class="link-arrow" href="#">Все коллекции</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dropmenu dropmenu--clothes" data-target="clothes">
    <div class="container">
      <div class="dropmenu__wrapper">
        <div class="dropmenu__cols">
          <div class="dropmenu__col">
            <span class="dropmenu__name">Модели</span>
            <ul class="dropmenu__list">
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Балетки</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Босоножки</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Ботильоны</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Ботинки</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Ботфорты</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Кеды</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Кроссовки</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Мокасины</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Полуботинки</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Полусапоги</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Резиновые сапоги</a>
              </li>
            </ul>
            <a class="dropmenu__btn link-arrow" href="#">Вся обувь</a>
          </div>
          <div class="dropmenu__col">
            <span class="dropmenu__name">Бренды</span>
            <ul class="dropmenu__list">
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Principe di Bologna</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Baldinini</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Premiata</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Fabi</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Pollini</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Barracuda</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">VIC MATIE'</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">AGL</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Stuart Weitzman</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Doucal’s</a>
              </li>
              <li class="dropmenu__item">
                <a class="dropmenu__link" href="#">Casadei</a>
              </li>
            </ul>
            <a class="dropmenu__btn link-arrow" href="#">Все бренды</a>
          </div>
        </div>
        <div class="dropmenu__right">
          <div class="dropmenu__preview">
            <img src="images/shoes-bg.jpg" alt="shoes" />
          </div>

          <div class="dropmenu__collections-btn">
            <span>Женская обувь</span>
            <a class="link-arrow" href="#">Все коллекции</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="header__address">ТЦ Триумфальный, 3 этаж</div>
        <div class="header-phones">
          <div class="header-phones__link header-phones__link--phone">
            <span>Телефон:</span><a href="#">+7 915 213-76-61</a>
          </div>
          <div class="header-phones__link header-phones__link--whatsapp">
            <span>WhatsApp:</span><a href="#"> +7 915 213-76-61</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <nav class="header__inner">
      <div class="header__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link active" href="#">Женское</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Мужское</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">New</a>
          </li>
          <li class="menu__item">
            <a class="menu__link menu__link--sale" href="#"
              >Sale

              <span>-70%</span>
            </a>
          </li>
        </ul>
      </div>

      <a class="header__logo logo" href="#">
        <img src="images/logo.png" alt="Логотип" />
      </a>

      <div class="header__tools header-tools">
        <ul class="header-tools__list">
          <li class="header-tools__item">
            <button class="header-tools__link btn-search" type="button">
              <svg>
                <use xlink:href="images/sprite.svg#search"></use>
              </svg>
            </button>
          </li>
          <li class="header-tools__item">
            <a class="header-tools__link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#user"></use>
              </svg>
            </a>
          </li>
          <li class="header-tools__item">
            <a class="header-tools__link" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#heart-border"></use>
              </svg>
            </a>
          </li>
          <li class="header-tools__item">
            <a class="header-tools__link header-tools__link--cart" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>

              <span class="header-tools__link-count"> 0 </span>
            </a>

            <div class="cart-box">
              <div class="cart-box__top">
                <span class="cart-box__count">
                  <span>1</span> продукт в корзине
                </span>

                <div class="cart-item">
                  <div class="cart-item__img">
                    <img src="images/product/1.jpg" alt="product" />
                  </div>
                  <div class="cart-item__info">
                    <h3 class="cart-item__name"><a href="#">Camerlengo</a></h3>

                    <p class="cart-item__text">Черные меховые кеды</p>
                    <p class="cart-item__text">23 900 ₽</p>
                    <p class="cart-item__text">Размер: <span>39</span></p>
                  </div>
                </div>

                <button class="cart-box__remove" type="button">Удалить</button>
              </div>

              <div class="cart-box__bottom">
                <a class="cart-box__btn btn" href="#">ОФОРМИТЬ ЗАКАЗ</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <button class="header__toggle" type="button" aria-label="Открыть меню">
        <span class="header__toggle-line"></span>
      </button>
    </nav>

    <div class="header__bottom">
      <div class="menu-header">
        <ul class="menu-header__list">
          <li class="menu-header__item">
            <a class="menu-header__link" data-link="shoes" href="#">Обувь</a>
          </li>
          <li class="menu-header__item">
            <a class="menu-header__link" data-link="clothes" href="#">Одежда</a>
          </li>
          <li class="menu-header__item">
            <a class="menu-header__link" href="#">Сумки</a>
          </li>
          <li class="menu-header__item">
            <a class="menu-header__link" href="#">Аксессуары</a>
          </li>
          <li class="menu-header__item">
            <a class="menu-header__link" href="#">Бренды</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <form class="form-search">
    <input
      class="form-search__input"
      name="search"
      type="text"
      placeholder="Поиск"
    />
    <button class="form-search__btn" type="submit">
      <svg>
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
    </button>

    <button class="form-search__close" type="button">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6 6L18 18"
          stroke="#0F0F0F"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M18 6L6 18"
          stroke="#0F0F0F"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </form>
</header>
