<section class="hero">
  <div class="hero__slider swiper">
    <ul class="hero__slides swiper-wrapper">
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('images/hero.jpg')"
      >
        <div class="container">
          <div class="hero__offer">
            <h1 class="hero__title">
              Pre <span class="hero__title-accent">Spr <small>i</small>  ng</span>
              <span class="hero__title-above">коллекция</span>
            </h1>
            <div class="hero__undertitle-block">
              <a class="hero__btn" href="#">В коллекцию</a>
              <span class="hero__name">весна <i>2022</i></span>
            </div>
          </div>
        </div>
      </li>
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('images/hero.jpg')"
      >
        <div class="container">
          <div class="hero__offer">
            <h1 class="hero__title">
              Pre <span class="hero__title-accent">Spr <small>i</small>  ng</span>
              <span class="hero__title-above">коллекция</span>
            </h1>
            <div class="hero__undertitle-block">
              <a class="hero__btn" href="#">В коллекцию</a>
              <span class="hero__name">весна <i>2022</i></span>
            </div>
          </div>
        </div>
      </li>
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('images/hero.jpg')"
      >
        <div class="container">
          <div class="hero__offer">
            <h1 class="hero__title">
              Pre <span class="hero__title-accent">Spr <small>i</small>  ng</span>
              <span class="hero__title-above">коллекция</span>
            </h1>
            <div class="hero__undertitle-block">
              <a class="hero__btn" href="#">В коллекцию</a>
              <span class="hero__name">весна <i>2022</i></span>
            </div>
          </div>
        </div>
      </li>
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('images/hero.jpg')"
      >
        <div class="container">
          <div class="hero__offer">
            <h1 class="hero__title">
              Pre <span class="hero__title-accent">Spr <small>i</small>  ng</span>
              <span class="hero__title-above">коллекция</span>
            </h1>
            <div class="hero__undertitle-block">
              <a class="hero__btn" href="#">В коллекцию</a>
              <span class="hero__name">весна <i>2022</i></span>
            </div>
          </div>
        </div>
      </li>
      <li
        class="hero__slide swiper-slide"
        style="background-image: url('images/hero.jpg')"
      >
        <div class="container">
          <div class="hero__offer">
            <h1 class="hero__title">
              Pre <span class="hero__title-accent">Spr <small>i</small>  ng</span>
              <span class="hero__title-above">коллекция</span>
            </h1>
            <div class="hero__undertitle-block">
              <a class="hero__btn" href="#">В коллекцию</a>
              <span class="hero__name">весна <i>2022</i></span>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="swiper-pagination"></div>

    <div class="hero__arrows">
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
    </div>
  </div>
</section>
