<section class="how-order">
  <div class="container">
    <div class="how-order__top">
      <h2 class="how-order__title">Как оформить заказ</h2>
      <p class="how-order__text">Оформить заказ можно 2 способами:</p>
    </div>

    <ul class="how-order__list">
      <li class="order-item">
        <span class="order-item__name"> На сайте магазина </span>
        <p class="order-item__text">
          нажав на кнопку «в корзину». В «Вашей корзине», расположенной в
          верхнем правом углу шапки, отобразится количество заказанных вещей и
          общая сумма заказа. Кликнув по корзине, Вы попадаете в бланк заказа,
          где и завершаете его оформление.
        </p>
      </li>

      <li class="order-item">
        <span class="order-item__name">Позвонив по телефону</span>
        <p class="order-item__text">
          +7 915 213 76 61 в будни с 11.00 до 20-45 по московскому времени. По
          заказам, оформленным через сайт, мы с Вами свяжемся в течение 24
          часов. Если этого не произошло, значит, либо контактные данные указан
          с ошибкой, либо произошел сбой на почтовом сервере. В таком случае, мы
          просим Вас повторно связаться с нами и повторить свой заказ или
          вопрос.
        </p>
      </li>
    </ul>
  </div>
</section>
