<section class="loyalty-card">
  <div class="container">
    <div class="loyalty-card__wrapper">
      <div class="loyalty-card__offer">
        <h1 class="loyalty-card__title">Карта лояльности</h1>
        <div class="loyalty-card__text">
          <p>
            С картой лояльности NO ONE вы можете приобретать товары с
            персональной скидкой, получать приглашения на закрытые распродажи,
            открытия новых бутиков, сезонные показы и презентации, участвовать в
            торжественных встречах с итальянскими дизайнерами обуви и
            аксессуаров. Для каждого владельца карты лояльности предусмотрен ряд
            дополнительных эксклюзивных привилегий.
          </p>
          <p>
            <b>Получить карту очень просто</b> — достаточно совершить любую
            покупку в нашем магазине или на сайте. Мы предлагаем оформить
            электронную или пластиковую карту лояльности на ваш выбор. Для
            активации электронной карты потребуется заполнить анкету в своем
            личном кабинете. Для получения пластиковой карты заполните бумажную
            анкету на кассе бутика.
          </p>
        </div>
      </div>
      <div class="loyalty-card__preview">
        <img src="images/loyalty-card.png" alt="loyalty card" loading="lazy" />
      </div>
    </div>
  </div>
</section>
