<section class="product">
  <div class="container">
    <div class="product__wrapper">
      <div class="product__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__nav">
            <div class="slider-thumbs__nav-wrap swiper" id="slider-nav">
              <ul class="swiper-wrapper">
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/product/2.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/product/3.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/product/4.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/product/1.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/product/2.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/product/3.jpg" alt="Слайд №1" />
                </li>
                <li class="swiper-slide slider-nav__slide">
                  <img src="images/product/4.jpg" alt="Слайд №1" />
                </li>
              </ul>
            </div>

            <div class="slider-thumbs__nav-control">
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              ></button>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следующий"
              ></button>
            </div>
          </div>

          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/product/1.jpg"
                >
                  <img src="images/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/product/2.jpg"
                >
                  <img src="images/product/2.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/product/3.jpg"
                >
                  <img src="images/product/3.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/product/4.jpg"
                >
                  <img src="images/product/4.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/product/1.jpg"
                >
                  <img src="images/product/1.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/product/2.jpg"
                >
                  <img src="images/product/2.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/product/3.jpg"
                >
                  <img src="images/product/3.jpg" alt="Слайд №1" />
                </a>
              </li>
              <li class="swiper-slide">
                <a
                  class="slider-thumbs__img"
                  data-fancybox="gallery"
                  href="images/product/4.jpg"
                >
                  <img src="images/product/4.jpg" alt="Слайд №1" />
                </a>
              </li>
            </ul>

            <button
              class="swiper-button-prev"
              type="button"
              aria-label="Предыдущий"
            ></button>
            <button
              class="swiper-button-next"
              type="button"
              aria-label="Следующий"
            ></button>
          </div>
        </div>
      </div>

      <div class="product__right product-info">
        <h1 class="product-info__title">Кеды мех Camerlengo</h1>
        <div class="product-info__top">
          <div class="product-info__prices">
            <span class="product-info__price product-info__price--new"
              >23 900 <small>₽</small></span
            >
            <span class="product-info__price product-info__price--old"
              >33 900 ₽</span
            >
          </div>
          <div class="product-info__stock">
            <img src="images/check.png" width="8" height="8" alt="check" />
            в наличии
          </div>
        </div>
        <div class="product-info__details">
          <div>Бренд: <span>Camerlengo</span></div>
          <div>Код товара: <span>123456</span></div>
        </div>
        <div class="product-info__sizes">
          <div class="product-info__size">
            <label class="checkbox-btn">
              <input class="checkbox-btn__input" type="radio" name="size" />
              <span class="checkbox-btn__text"> 38 </span>
            </label>
          </div>
          <div class="product-info__size">
            <label class="checkbox-btn">
              <input
                class="checkbox-btn__input"
                type="radio"
                name="size"
                checked
              />
              <span class="checkbox-btn__text"> 39 </span>
            </label>
          </div>
          <div class="product-info__size">
            <label class="checkbox-btn">
              <input class="checkbox-btn__input" type="radio" name="size" />
              <span class="checkbox-btn__text"> 40 </span>
            </label>
          </div>
          <div class="product-info__size">
            <label class="checkbox-btn">
              <input class="checkbox-btn__input" type="radio" name="size" />
              <span class="checkbox-btn__text"> 41 </span>
            </label>
          </div>
        </div>
        <button class="product-info__sizes-btn" type="button">
          Открыть таблицу размеров
        </button>
        <div class="product-info__btns">
          <button class="product-info__btn btn" type="button">
            Добавить в корзину
          </button>
          <a class="product-info__btn btn product-info__btn--buy" href="#">
            Купить в 1 клик
          </a>
          <button class="product-info__fav" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#heart"></use>
            </svg>
          </button>
        </div>

        <div class="product-accordions">
          <div class="product-accordions__accordion accordion">
            <button
              class="product-accordions__control accordion-control"
              type="button"
            >
              Описание
            </button>

            <div class="product-accordions__content accordion-content">
              <div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Similique vel aperiam deleniti dolor quasi iste dignissimos
                  nemo dicta magnam, voluptates odit eos asperiores quis eaque
                  quaerat ea excepturi aut commodi?
                </p>
              </div>
            </div>
          </div>
          <div class="product-accordions__accordion accordion">
            <button
              class="product-accordions__control accordion-control"
              type="button"
            >
              Обратите внимание
            </button>

            <div class="product-accordions__content accordion-content">
              <div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Similique vel aperiam deleniti dolor quasi iste dignissimos
                  nemo dicta magnam, voluptates odit eos asperiores quis eaque
                  quaerat ea excepturi aut commodi?
                </p>
              </div>
            </div>
          </div>
          <div class="product-accordions__accordion accordion">
            <button
              class="product-accordions__control accordion-control"
              type="button"
            >
              Условия доставки
            </button>

            <div class="product-accordions__content accordion-content">
              <div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Similique vel aperiam deleniti dolor quasi iste dignissimos
                  nemo dicta magnam, voluptates odit eos asperiores quis eaque
                  quaerat ea excepturi aut commodi?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
