<section class="products-slider products-slider--pt-40">
  <div class="container">
    <h2 class="products-slider__title products-slider__title--left">
      С этим товаром можно купить
    </h2>

    <div class="products-slider__slider swiper">
      <ul class="products-slider__slides swiper-wrapper">
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img
                loading="lazy"
                src="images/products/1.jpg"
                class="image"
                alt="products"
              />
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Сапоги Duca d' Ascalona</a>
              </h3>

              <span class="product-card__price">30 750 ₽</span>
              <div class="product-card__btns">
                <a class="product-card__btn btn btn--light" href="#">
                  Купить
                </a>
                <button class="product-card__favorites" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img
                loading="lazy"
                src="images/products/2.jpg"
                class="image"
                alt="products"
              />
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Пуховик c капюшоном пух Max Mara</a>
              </h3>

              <span class="product-card__price">67 900 ₽</span>
              <div class="product-card__btns">
                <a class="product-card__btn btn btn--light" href="#">
                  Купить
                </a>
                <button class="product-card__favorites" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img
                loading="lazy"
                src="images/products/3.jpg"
                class="image"
                alt="products"
              />
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Туфли FRU.IT</a>
              </h3>

              <span class="product-card__price">30 900 ₽</span>
              <div class="product-card__btns">
                <a class="product-card__btn btn btn--light" href="#">
                  Купить
                </a>
                <button class="product-card__favorites" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img
                loading="lazy"
                src="images/products/4.jpg"
                class="image"
                alt="products"
              />
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Куртка Max Mara</a>
              </h3>

              <span class="product-card__price">59 900 ₽</span>
              <div class="product-card__btns">
                <a class="product-card__btn btn btn--light" href="#">
                  Купить
                </a>
                <button class="product-card__favorites" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img
                loading="lazy"
                src="images/products/5.jpg"
                class="image"
                alt="products"
              />
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Брюки бархатные Max Mara</a>
              </h3>

              <span class="product-card__price">22 900 ₽</span>
              <div class="product-card__btns">
                <a class="product-card__btn btn btn--light" href="#">
                  Купить
                </a>
                <button class="product-card__favorites" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>

        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img
                loading="lazy"
                src="images/products/1.jpg"
                class="image"
                alt="products"
              />
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Сапоги Duca d' Ascalona</a>
              </h3>

              <span class="product-card__price">30 750 ₽</span>
              <div class="product-card__btns">
                <a class="product-card__btn btn btn--light" href="#">
                  Купить
                </a>
                <button class="product-card__favorites" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img
                loading="lazy"
                src="images/products/2.jpg"
                class="image"
                alt="products"
              />
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Пуховик c капюшоном пух Max Mara</a>
              </h3>

              <span class="product-card__price">67 900 ₽</span>
              <div class="product-card__btns">
                <a class="product-card__btn btn btn--light" href="#">
                  Купить
                </a>
                <button class="product-card__favorites" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img
                loading="lazy"
                src="images/products/3.jpg"
                class="image"
                alt="products"
              />
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Туфли FRU.IT</a>
              </h3>

              <span class="product-card__price">30 900 ₽</span>
              <div class="product-card__btns">
                <a class="product-card__btn btn btn--light" href="#">
                  Купить
                </a>
                <button class="product-card__favorites" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img
                loading="lazy"
                src="images/products/4.jpg"
                class="image"
                alt="products"
              />
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Куртка Max Mara</a>
              </h3>

              <span class="product-card__price">59 900 ₽</span>
              <div class="product-card__btns">
                <a class="product-card__btn btn btn--light" href="#">
                  Купить
                </a>
                <button class="product-card__favorites" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
        <li class="products-slider__slide swiper-slide">
          <article class="product-card">
            <a class="product-card__top" href="#">
              <img
                loading="lazy"
                src="images/products/5.jpg"
                class="image"
                alt="products"
              />
            </a>
            <div class="product-card__body">
              <h3 class="product-card__title">
                <a href="#">Брюки бархатные Max Mara</a>
              </h3>

              <span class="product-card__price">22 900 ₽</span>
              <div class="product-card__btns">
                <a class="product-card__btn btn btn--light" href="#">
                  Купить
                </a>
                <button class="product-card__favorites" type="button">
                  <svg>
                    <use xlink:href="images/sprite.svg#heart"></use>
                  </svg>
                </button>
              </div>
            </div>
          </article>
        </li>
      </ul>
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
    </div>
  </div>
</section>
