<section class="return-online">
  <div class="container">
    <h2 class="return-online__title">
      Возврат товара при покупке в интернет магазине:
    </h2>

    <div class="return-online__text">
      <p>
        Онлайн-торговля определяется законом как дистанционный способ продажи
        товара и регулируется статьей 26.1 Закона о правах потребителей.
      </p>
      <p>
        Процедура возврата товара в интернет-магазин в целом аналогична возврату
        и обмену при традиционном шопинге, разница лишь в сроках и некоторых
        нюансах.
      </p>
      <p>
        Так, в соответствии с пунктом 4 статьи 26.1 вышеуказанного Закона,
        приобретенный дистанционным способом товар можно вернуть в течение
      </p>
      <p>
        7 дней с момента покупки или отказаться от него в любой момент до
        получения.
      </p>
      <p>
        Причем во втором случае никаких объяснений по поводу причины отказа от
        товара представлять не нужно.
      </p>
      <p>
        Деньги за возвращенный товар будут возвращены в течение от 3-х, но не
        позже 14 рабочих дней.
      </p>
      <p>
        Магазин возвращает денежные средства клиенту немедленно после получение
        возвратного товара.
      </p>
      <p>
        Cроки возврата денежных сумм на карту клиента ограничены работой
        банковских систем.
      </p>
      <p>
        При этом покупатель имеет право на получение полной стоимости товара,
        только расходы на доставку полностью компенсируются продавцу.
      </p>
    </div>
    <div class="return-online__bottom">
      <p>
        Мы постоянно работаем над повышением качества нашего сервиса и будем
        рады узнать Ваши предложения по улучшению нашей работы!
      </p>
      <p>
        Пишите нам на почту:
        <a href="mailto:info.notonlyblack@gmail.com">
          info.notonlyblack@gmail.com
        </a>
      </p>
    </div>
  </div>
</section>
