<section class="reviews">
  <div class="container">
    <h1 class="reviews__title">Отзывы</h1>
  </div>

  <div class="container container--p-0">
    <div class="reviews__slider swiper">
      <ul class="reviews__slides swiper-wrapper">
        <li class="reviews__slide swiper-slide">
          <img src="images/reviews/2.jpg" alt="reviews" />
        </li>
        <li class="reviews__slide swiper-slide">
          <img src="images/reviews/1.jpg" alt="reviews" />
        </li>
        <li class="reviews__slide swiper-slide">
          <img src="images/reviews/2.jpg" alt="reviews" />
        </li>
        <li class="reviews__slide swiper-slide">
          <img src="images/reviews/1.jpg" alt="reviews" />
        </li>
        <li class="reviews__slide swiper-slide">
          <img src="images/reviews/2.jpg" alt="reviews" />
        </li>
        <li class="reviews__slide swiper-slide">
          <img src="images/reviews/1.jpg" alt="reviews" />
        </li>
        <li class="reviews__slide swiper-slide">
          <img src="images/reviews/2.jpg" alt="reviews" />
        </li>
        <li class="reviews__slide swiper-slide">
          <img src="images/reviews/1.jpg" alt="reviews" />
        </li>
        <li class="reviews__slide swiper-slide">
          <img src="images/reviews/2.jpg" alt="reviews" />
        </li>
      </ul>

      <div class="swiper-pagination"></div>

      <div class="reviews__block">
        <button
          class="swiper-button-next"
          type="button"
          aria-label="Следующий"
        ></button>
        <button
          class="swiper-button-prev"
          type="button"
          aria-label="Предыдущий"
        ></button>
      </div>
    </div>

    <div class="reviews__bottom">
      <a class="reviews__btn btn" href="#">Больше отзывов в нашем instagram</a>
    </div>
  </div>
</section>
