<section class="shoes-sizes">
  <div class="container">
    <h1 class="shoes-sizes__title">Размеры обуви</h1>

    <div class="shoes-sizes__text">
      <p>
        Для выбора вашего размера обуви вам необходимо измерить длину стопы.
      </p>
      <p>
        <span>Длина стопы.</span> На ровную поверхность необходимо положить лист
        бумаги, поставить на него стопу, затем очертить стопу. Теперь,
        необходимо измерить расстояние между самыми удаленными точками на
        рисунке, так вы узнаете точную длину в сантиметрах. Чтобы определить
        подходящий размер, соотнесите полученные измерения с размерами в
        таблице.
      </p>
    </div>

    <div class="shoes-sizes__inner">
      <div class="shoes-sizes__table">
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">Стопа (мм)</div>
          <div class="shoes-sizes__item">Россия</div>
          <div class="shoes-sizes__item">Европа</div>
          <div class="shoes-sizes__item">USA</div>
          <div class="shoes-sizes__item">UK</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">215</div>
          <div class="shoes-sizes__item">34</div>
          <div class="shoes-sizes__item">34</div>
          <div class="shoes-sizes__item">4,5</div>
          <div class="shoes-sizes__item">2,5</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">220</div>
          <div class="shoes-sizes__item">34,5</div>
          <div class="shoes-sizes__item">35</div>
          <div class="shoes-sizes__item">5</div>
          <div class="shoes-sizes__item">3</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">225</div>
          <div class="shoes-sizes__item">35</div>
          <div class="shoes-sizes__item">35,5</div>
          <div class="shoes-sizes__item">5,5</div>
          <div class="shoes-sizes__item">3,5</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">230</div>
          <div class="shoes-sizes__item">36</div>
          <div class="shoes-sizes__item">36,5</div>
          <div class="shoes-sizes__item">6</div>
          <div class="shoes-sizes__item">4</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">235</div>
          <div class="shoes-sizes__item">37</div>
          <div class="shoes-sizes__item">37</div>
          <div class="shoes-sizes__item">6,5</div>
          <div class="shoes-sizes__item">4,5</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">240</div>
          <div class="shoes-sizes__item">37,5</div>
          <div class="shoes-sizes__item">38</div>
          <div class="shoes-sizes__item">7,5</div>
          <div class="shoes-sizes__item">5,5</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">245</div>
          <div class="shoes-sizes__item">38</div>
          <div class="shoes-sizes__item">38,5</div>
          <div class="shoes-sizes__item">8</div>
          <div class="shoes-sizes__item">6</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">250</div>
          <div class="shoes-sizes__item">39</div>
          <div class="shoes-sizes__item">39,5</div>
          <div class="shoes-sizes__item">8,5</div>
          <div class="shoes-sizes__item">6,5</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">255</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">9</div>
          <div class="shoes-sizes__item">7</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">260</div>
          <div class="shoes-sizes__item">40,5</div>
          <div class="shoes-sizes__item">41</div>
          <div class="shoes-sizes__item">9,5</div>
          <div class="shoes-sizes__item">7,5</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">265</div>
          <div class="shoes-sizes__item">41</div>
          <div class="shoes-sizes__item">41,5</div>
          <div class="shoes-sizes__item">10,5</div>
          <div class="shoes-sizes__item">8,5</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">270</div>
          <div class="shoes-sizes__item">42</div>
          <div class="shoes-sizes__item">42,5</div>
          <div class="shoes-sizes__item">11</div>
          <div class="shoes-sizes__item">9</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">275</div>
          <div class="shoes-sizes__item">43</div>
          <div class="shoes-sizes__item">43</div>
          <div class="shoes-sizes__item">11,5</div>
          <div class="shoes-sizes__item">9,5</div>
        </div>
      </div>
    </div>
  </div>
</section>
