<section class="shoes-sizes">
  <div class="container">
    <h1 class="shoes-sizes__title">Размеры одежды</h1>

    <div class="shoes-sizes__text">
      <p>
        Для выбора вашего размера обуви вам необходимо измерить длину стопы.
      </p>
      <p>
        <span>Длина стопы.</span> На ровную поверхность необходимо положить лист
        бумаги, поставить на него стопу, затем очертить стопу. Теперь,
        необходимо измерить расстояние между самыми удаленными точками на
        рисунке, так вы узнаете точную длину в сантиметрах. Чтобы определить
        подходящий размер, соотнесите полученные измерения с размерами в
        таблице.
      </p>
    </div>

    <div class="shoes-sizes__inner">
      <div class="shoes-sizes__table">
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">Обхват груди (см)</div>
          <div class="shoes-sizes__item">Обхват талии (см)</div>
          <div class="shoes-sizes__item">Россия</div>
          <div class="shoes-sizes__item">Международный</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">78,7</div>
          <div class="shoes-sizes__item">63,5</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">XS</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">78,7</div>
          <div class="shoes-sizes__item">63,5</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">XS</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">78,7</div>
          <div class="shoes-sizes__item">63,5</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">XS</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">78,7</div>
          <div class="shoes-sizes__item">63,5</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">XS</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">78,7</div>
          <div class="shoes-sizes__item">63,5</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">XS</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">78,7</div>
          <div class="shoes-sizes__item">63,5</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">XS</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">78,7</div>
          <div class="shoes-sizes__item">63,5</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">XS</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">78,7</div>
          <div class="shoes-sizes__item">63,5</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">XS</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">78,7</div>
          <div class="shoes-sizes__item">63,5</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">XS</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">78,7</div>
          <div class="shoes-sizes__item">63,5</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">XS</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">78,7</div>
          <div class="shoes-sizes__item">63,5</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">XS</div>
        </div>
        <div class="shoes-sizes__col">
          <div class="shoes-sizes__item">78,7</div>
          <div class="shoes-sizes__item">63,5</div>
          <div class="shoes-sizes__item">40</div>
          <div class="shoes-sizes__item">XS</div>
        </div>
      </div>
    </div>
  </div>
</section>
