<section class="subscribe">
  <div class="container">
    <div class="subscribe__wrapper">
      <div class="subscribe__top">
        <h2 class="subscribe__title">Подпишитесь на нас</h2>
        <p class="subscribe__text">
          и будьте в курсе наших новостей, и закрытых акций для владельцев карт
          лояльности
        </p>
      </div>

      <div class="subscribe__socials socials">
        <ul class="socials__list">
          <li class="socials__item">
            <a
              class="socials__link socials__link--instagram"
              href="#"
              target="_blank"
              aria-label="Инстаграм"
            ></a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link socials__link--fb"
              href="#"
              target="_blank"
              aria-label="Фейсбук"
            ></a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link socials__link--mail"
              href="#"
              target="_blank"
              aria-label="Gmail"
            ></a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link socials__link--telegram"
              href="#"
              target="_blank"
              aria-label="Телеграм"
            ></a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link socials__link--whatsapp"
              href="#"
              target="_blank"
              aria-label="Ватсап"
            ></a>
          </li>
        </ul>
      </div>

      <a class="subscribe__link" href="#">Условия акции</a>
    </div>
  </div>
</section>
