<section class="vacancies">
  <div class="container">
    <div class="vacancies__top">
      <div class="vacancies__offer">
        <h1 class="vacancies__title">Вакансии</h1>
        <div class="vacancies__text">
          <p>
            Not Only Black – онлайн и оффлайн магазин по продаже обуви и
            аксессуаров европейских брендов премиального класса. Уже более 25
            лет мы сохраняем наш статус профессионалов индустрии моды и рады
            предложить вам стать частью нашей команды.
          </p>
        </div>
      </div>
      <div class="vacancies__preview">
        <img src="images/vacancies.jpg" alt="vacancies" />
      </div>
    </div>

    <div class="vacancies__inner">
      <div class="vacancies-item">
        <div class="vacancies-item__left">Вам придется</div>

        <ul class="vacancies-item__list">
          <li class="vacancies-item__item">
            • работать с легендарными европейскими обувными брендами
          </li>
          <li class="vacancies-item__item">
            • поддерживать высокий уровень клиентского сервиса
          </li>
          <li class="vacancies-item__item">
            • работать с клиентской базой и развивать теплые отношения с
            Клиентом
          </li>
          <li class="vacancies-item__item">
            • консультировать Клиентов по брендам и модным тенденциям
          </li>
          <li class="vacancies-item__item">• выступать в роли стилиста</li>
        </ul>
      </div>
      <div class="vacancies-item">
        <div class="vacancies-item__left">
          В Компании особенно рады кандидатам
        </div>

        <ul class="vacancies-item__list">
          <li class="vacancies-item__item">
            • виртуозно владеющих техникой продаж или готовых ее освоить
          </li>
          <li class="vacancies-item__item">
            • способных выстраивать долгосрочные отношения с Клиентами
          </li>
          <li class="vacancies-item__item">
            • с хорошим вкусом, отслеживающих все модные новинки
          </li>
          <li class="vacancies-item__item">• доброжелательным и тактичным</li>
          <li class="vacancies-item__item">• энергичным и целеустремленным</li>
        </ul>
      </div>
      <div class="vacancies-item">
        <div class="vacancies-item__left">
          Эта работа точно <span></span>
          для Вас, если
        </div>

        <ul class="vacancies-item__list">
          <li class="vacancies-item__item">
            • Вы интересуетесь модой и стремитесь узнать о ней больше
          </li>
          <li class="vacancies-item__item">
            • Вы любите общаться с людьми и хотите работать в команде
          </li>
          <li class="vacancies-item__item">
            • Вы мечтаете сделать карьеру в индустрии моды
          </li>
          <li class="vacancies-item__item">
            • Вы хотите зарабатывать и осуществлять свои мечты
          </li>
        </ul>
      </div>
      <div class="vacancies-item">
        <div class="vacancies-item__left">Мы предлагаем</div>

        <ul class="vacancies-item__list">
          <li class="vacancies-item__item">
            • Сменно - скользящий график работы
          </li>
          <li class="vacancies-item__item">
            • Стабильную заработную плату: оклад + бонусы от продаж
          </li>
          <li class="vacancies-item__item">• Оформление по ТК РФ</li>
          <li class="vacancies-item__item">
            • Работа с мировыми брендами в сфере продаж обуви
          </li>
          <li class="vacancies-item__item">• Скидку на продукцию</li>
          <li class="vacancies-item__item">
            • Профессиональное развитие в направлении retail
          </li>
        </ul>
      </div>
      <div class="vacancies-item">
        <div class="vacancies-item__left">Свяжитесь с нами</div>

        <ul class="vacancies-item__list">
          <li class="vacancies-item__item">
            телефон:
            <a class="vacancies-item__link" href="#"> +7 915 213-76-61 </a>
          </li>
          <li class="vacancies-item__item">
            e-mail:
            <a class="vacancies-item__link" href="#">
              info.notonlyblack@gmail.com
            </a>
          </li>
          <li class="vacancies-item__item">
            <a class="vacancies-item__btn btn" href="#" download>
              Отправить резюме
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
